@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

html, body
{
    border:0;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background:rgb(219, 19, 59);
    font-family: 'Lato', sans-serif;
}

.wrapper
{
    margin:0 auto;
    background: rgb(216, 216, 216);
    height:auto;
    width:100%;
    max-width:1200px;
}

header
{
    display:grid;
    grid-template-columns: 250px 5fr;
    background: rgb(250, 251, 244);
    gap:10px;
}

.menu-apoio
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap:10px;
    align-content: center;
    justify-content: center;
}

.item-menu-apoio
{
    background:rgb(51, 51, 50);
    color: rgb(255, 216, 89);
    cursor: pointer;
    padding:12px 0px 12px 0px;
    width:150px;
    text-align: center;
    border-radius: 5px;   
    font-weight: 700;
    text-transform: uppercase;
}

.item-menu-apoio:hover
{
    background: rgb(255, 216, 89);
    color: rgb(51, 51, 50);
}

.conteudo
{
    display: grid;
    grid-template-columns: 250px 5fr;
}

.menu
{
    display: grid;
    grid-template-rows: repeat(7, auto);
    background:rgb(51, 51, 50);
    gap:10px;
    padding:10px;
    align-content: flex-start;
}

.item-menu
{
    background:rgb(51, 51, 50);
    color: rgb(255, 216, 89);
    padding: 20px 0px 20px 0px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

.item-menu:hover
{
    background:rgb(80, 80, 73);
}

main
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    background: rgb(255,255,255);
    text-align: center;
}

main > div
{
    padding:40px;
    
}

.espaco
{
    padding:10px;
}

.responsiva
{
    width:100%;
    max-width:100%;
    height:auto;
}

.logo
{
    padding:20px;
}

.lanche
{
    width:auto;
    height:auto;
    font-size: 24pt;
    font-weight: 700;
    display: inline;
}

i
{
    font-style: normal;
    font-size: 32pt;
    margin-right: 20px;
}

.facebook
{
    color:#3366cc;
}

.instagram
{
    color:#993399;
}

.twitter
{
    color:#33ccff;
}

footer
{
    display:grid;
    grid-template-columns: 5fr 250px;
    grid-template-rows:auto auto;
    background: rgb(250, 251, 244);
    gap:10px;
    padding:50px;
}

.span-colunas
{
    grid-column: 1 / span 2;
}

.centralizado
{
    text-align:center;
}

.email
{
    font-size: 22pt;
    font-weight: 700;
    padding-bottom: 20px;
}

.aueba
{
    color:#686868;
    padding-bottom: 20px;
}

.aueba-email
{
    font-weight:700;
}

.aueba-email:hover
{
    text-decoration: underline;
    cursor:pointer;
}

.link
{
    text-decoration: none;
}

.link-rodape
{
    display: inline;
    padding:10px;
}

.link-rodape:hover
{
    text-decoration: underline;
    cursor:pointer;
}

